<ion-view view-title="Login">
  <ion-content class="padding">
    <div ng-show="errors" class="errors">{{ errors }}</div>
    <form ng-submit="loginAccount()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input ng-model="user.email" type="text" placeholder="Enter Email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input ng-model="user.password" type="password" placeholder="Enter Password">
        </label>
      </div>
      <button class="button button-positive button-block">Login</button>
    </form>
  </ion-content>
</ion-view>