<ion-view view-title="Ratings Center">
  <ion-content class="padding">
    <h2>Rate Other Videos</h2>
    <div class="list card" ng-repeat="history1 in history">
      <div class="item">
        <h2>{{history1.name}}</h2>
        <p>{{history1.uploadDate}}</p>
      </div>
      <div class="item item-image">
        <img ng-src="{{ history1.image }}">
        <p>Average Rating: {{history1.averageRating}}
          <i class="ion-star"></i>
        </p>
        <p> 
          <a class="subdued">Views: {{history1.viewCount}}</a>
          <a class="subdued">Voters: {{history1.voters}}</a>
        </p>
      </div>

      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
          Card content here
        </td-card>
      </td-cards>
  </ion-content>
</ion-view>