<ion-view view-title="My Talents">
  <ion-content>
    <div class="list" ng-repeat="talent in talents">
      <div class="item-avatar">
        <img ng-src="{{ authData.facebook.profileImageURL }}">
        <h4>{{ talent.name }}</h4>
        <p>{{ talent.uploadDate }}</p>
      </div>
      <div class="item item-image">
        <img ng-src="{{ talent.source }}" ng-if="talent.type==='picture'">
        <video controls class="video" width="100%" height="100%" webkit-playsinline ng-if="talent.type==='video'">
          <source ng-src="{{ talent.source }}" type="video/mp4">
          <source ng-src="{{ talent.source }}" type="video/ogg">
          <source ng-src="{{ talent.source }}" type="video/webm">
        </video>
        <div>{{ talent.description }}</div>
        <p>Average Rating: {{ talent.averageRating }}
          <i class="ion-star"></i>
        </p>
        <p> 
          <a class="subdued">Views: {{ talent.viewCount }}</a>
          <a class="subdued">Voters: {{ talent.voters }}</a>
        </p>
      </div>
  </ion-content>
</ion-view>





