<ion-view view-title="Ratings Center">
  <ion-content class="padding">
    <h2>Here is where you will rate other videos</h2>
    <div class="list card">
      <div class="item">
        <h2>Uploaded On</h2>
        <p>January 2, 2016</p>
      </div>
      <div class="item item-image">
        <img src="./img/talents/drawings.jpg">
      </div>
      <a class="item item-icon-left assertive" href="#">
        <p class="">Views: 577</p>
        <p class="">Voters: 65</p>
      </a>
    </div>
  </ion-content>
</ion-view>

