<ion-view view-title="My History">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="history1 in history" type="item-text-wrap" href="#/tab/history/{{history1.id}}">
        <img ng-src="{{history1.source}}">
        <h2>{{history1.name}}</h2>
        <p>Average Rating: {{history1.averageRating}}
          <i class="ion-star"></i>
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(talent)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
