<ion-view view-title="Upload">
  <ion-content class="padding">
    <div class="wrapper">

      <!-- Take new picture or video -->
      <button class="button button-stable button-block icon-left ion-videocamera" ng-click="captureVideo()">
      	<b>Take Video</b>
      </button>
      <button class="button button-stable button-block icon-left ion-camera" ng-click="takePhoto()">
      	<b>Take Photo</b>
      </button> 
    </div>

    <!-- Content displayed-->
    <div class="text-center">
      <img ng-src="{{picData}}" ng-if="capturedImage" alt="" width="200">
      <img ng-if="file" ng-show="{{file}}">
      <img src="./img/imageholder.png" ng-if="!capturedImage || !file" alt="" width="200">
      <p>preview</p>
    </div>

    <!-- Select file from devide -->
    <input class="bottom-marg-15" type="file" name="file" file></input>
    
    <!-- To Upload Page -->
    <!-- <button class="button button-dark button-block icon-right ion-chevron-right" ui-sref="tab.upload-detail">
      <b>Next</b>
    </button> -->

    <!-- Name & Description -->
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Title</span>
          <input ng-model="talent.title" type="text" placeholder="Title">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input ng-model="talent.description" type="text" placeholder="Description">
        </label>
      </div>  

     <!-- Progress Bar -->
    <progress class="progress-bar" value="{{ uploadProgress }}" min="0" max="100">
      {{ uploadProgress }}
    </progress>
    
    <!-- Upload button -->
    <button class="button button-positive button-block" id="upload-button" ng-click="upload()">
      <b>Upload</b>
    </button>    

  </ion-content>
</ion-view>