<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- My talents Tab -->
  <ion-tab title="My Talents" icon-off="ion-ios-home-outline" icon-on="ion-ios-home"  href="#/tab/mytalents">
    <ion-nav-view name="tab-mytalents"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <!-- Upload Tab -->
  <ion-tab title="Upload" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/tab/upload">
    <ion-nav-view name="tab-upload"></ion-nav-view>
  </ion-tab>

  <!-- Ratings Tab -->
  <ion-tab title="Ratings Center" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/ratings">
    <ion-nav-view name="tab-ratings"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
