<ion-tabs class="tabs-icon-only tabs-dark">

  <!-- My talents Tab -->
  <ion-tab icon-off="ion-android-home" icon-on="ion-android-home"  href="#/tab/mytalents">
    <ion-nav-view name="tab-mytalents"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab icon-off="ion-ios-clock" icon-on="ion-ios-clock" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

  <!-- Upload Tab -->
  <ion-tab icon-off="ion-ios-videocam" icon-on="ion-ios-videocam" href="#/tab/upload">
    <ion-nav-view name="tab-upload"></ion-nav-view>
  </ion-tab>

  <!-- Ratings Tab -->
  <ion-tab icon-off="ion-ios-pulse-strong" icon-on="ion-ios-pulse-strong" href="#/tab/ratings">
    <ion-nav-view name="tab-ratings"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab icon-off="ion-ios-gear" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
