<ion-view view-title="Change Password">
  <ion-content class="padding">
    <form ng-submit="changePassword()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input ng-model="user.email" type="text" placeholder="Enter Email">
        </label>
        <label class="item item-input">
          <span class="input-label">Old Password</span>
          <input ng-model="user.oldPassword" type="password" placeholder="Enter Old Password">
        </label>
        <label class="item item-input">
          <span class="input-label">New Password</span>
          <input ng-model="user.newPassword" type="password" placeholder="Enter New Password">
        </label>
        <label class="item item-input">
          <span class="input-label">New Password</span>
          <input ng-model="user.newPasswordConfirmation" type="password" placeholder="Enter New Password Again">
        </label>
      </div>
      <button class="button button-positive button-block">
        <b>Send</b>
      </button>
    </form>
  </ion-content>
</ion-view>