<ion-view view-title="Create Account">
  <ion-content class="padding">
    <form ng-submit="createAccount()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input ng-model="user.username" type="text" placeholder="Enter Username">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input ng-model="user.email" type="text" placeholder="Enter Email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input ng-model="user.password" type="password" placeholder="Enter Password">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input ng-model="user.passwordConfirmation" type="password" placeholder="Enter Password Again">
        </label>
      </div>
      <button class="button button-positive button-block">
        <b>Create Account</b>
      </button>
      <div class = "col text-center">
        By signing up, you agree to the 
        <br><strong><a ng-click="" class="dark">Terms of Service & Privacy Policy</a></strong>
      </div>   
    </form>
  </ion-content>
</ion-view>